/* =============================================================================
                   Default Styling
   ========================================================================== */

body {
  color:#333;
  padding: 1px;
  // height: 100vh;
}

.main {
  margin: 0 10%;
}

.container {
  max-width:1200px;
  margin:0 auto;
}
.container-with-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  text-align: center;
  z-index: -20;
}

.content {
  float:left;
  width:100%;
}

.full {
  width:100%;
}

/* links */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #DCB3A5;
}

/* paragraphs */
p {
  line-height: 1.5;
  font-family: 'Chivo', sans-serif;
}

/*blockquotes*/
blockquote {
  margin:0;
  padding:20px;
}

  blockquote p {
    margin-top: 0;
  }

/*tables*/
table td {
  padding:10px;
}
table tr td:first {
  padding-right: 0;
}

/*def lists*/
dt {
  font-weight: 600;
  padding-bottom: 5px;
}
dd {
  padding:10px;
  margin-left: 10px;
}

/*lists*/
ul li,ol li {
  padding:3px;
}

/*PRE*/

pre {
  background: #F7F7F7;
  padding:10px;
  border-radius: 4px;
  border:1px solid #ccc;
}