/* =============================================================================
                Media Queries
   ========================================================================== */

/* ===========================================
            9 0 0  P I X E L S 
=============================== */

@media (max-width: 900px) {
  header {
  	a {
  		width: 15%;
  	}
  	.menu {
  		max-width: 100%;
  	}
}
  .contactForm {	
	a {
	  font-size: 20px;
	  left: 40px;
	}
  }
} // end #contact

/* ===========================================
            7 5 0  P I X E L S 
=============================== */

@media (max-width: 750px) {
	header {	
		.mainLogo {
			width: 100%;
		}

		.menu {
			display: block;
			width: 130px;
			text-align: center;

			a {
				width: 100%;
				border: 1px solid black;
				margin: 10px;
				display: inline-block;
			}
		}
	}

	.home {
		blockquote {
			font-size: 1rem;
			float: left;
		}		

		.portfolioPieces .featuredPost {
			height: inherit;

			.rightInfo {
				width: 100%;
			}

			.ft-img {
				width: 100%;
				border-right: none;
				border-bottom: 1px solid black;
				height: 50vh;
				}
			}
		}

	.contactForm {
		width: 100%;

		h3 {
			display: inline-block; 
			width: 33%;		
			left: -25px;
		}
	}

	.bottom-nav {
		float: right;
		text-align: right;
		}

	footer .container-footer .bottom-nav ul {
		float: left;
		margin-right: -40px;
		position: static;
		left: 0;
	}
	.footer-logo {
	  float: left;
	  width: 42%;
	}
}

/* ========================================
            4 8 0  P I X E L S 
=============================== */

@media (max-width: 480px) {

@-webkit-keyframes name {
  0%   { top: -171px; left: 45%; }
  100% { top: 0px; left: 0; }
}
@keyframes name {
    0%   { top: -171px; left: 45%px; }
    100% { top: 0px; left: 0; }
  }

@-webkit-keyframes title {
  0%   { top: 171px; left: -95%; }
  100% { top: -80px; left: 0; }
}
@keyframes title {
    0%   { top: 171px; left: -95%; }
    100% { top: -80px; left: 0; }
  }	

	header {
		.logo1 {
		  -webkit-animation: name 1s linear;
		  animation: name 1s linear;
		  top: 0;
		  left: 0;
		}

		.logo2 {
		  -webkit-animation: title 1s linear;
		  animation: title 1s linear;
		  top: -80px;
		  left: 0;

		}
		img.mainLogo {
			max-width: 100%;
			}	
		
		.container {
			position: relative;	

			.menu {
				position: absolute;
				top: 24vh;
				width: 100%;
				padding: 40px 10px 0px 20px;
			    left: 0;

				a {
					padding: 2%;
				}


				a:first-child {
					width: 30%;
					display: inline-block;
					margin: 0 auto;
					position: relative;
					right: 0;
					margin-left: 1.5%;
				}

				a:nth-child(2n) {
					width: 30%;
					margin: 0 auto;
					display: inline-block;
					position: relative;
					right: 0;
					margin-left: 1.5%;
					}

				a:nth-child(3) {
					width: 30%;
					margin: 0 auto;
					display: inline-block;
					position: relative;
					left: 0;
						
				} 
			}
		} // end container
	}// end header

	.home {
		blockquote {
			width: 100%;

		}
	
		.portfolioPieces {

			.featuredPost{

				.ft-img {
					height: inherit;
					
						img {
							margin-bottom: 10px;
						}
					}

				.rightInfo {
					p {
						display: none;
						font-size: 0.75rem;
					}
					p.tags, .linkToLive p{
						display: inherit;
					}

					.linkToLive p {
						text-align: left;
						font-size: 1.2rem;
					}
				} // end rightInfo	
			} // end featuredPost
		} // end PortfolioPieces
		
		.wpcf7-form {
	
		input {
			width: 100%;
		}
	} // end wpcf7-form
	} //  end home

	footer {

		.container-footer {

			img.footer-logo {
				display: none;
			}
		}
	}


} // end 320 px media query