@mixin monoSp {
  font-family: 'Inconsolata', courier, monospace;
}

@mixin bigP {
  font-family: 'Chivo', sans-serif;
  font-size: 1.8rem;
}

/* =============================================================================
                   Header
   ========================================================================== */
.border {
  position: fixed;
  background: #DCB3A5;
  z-index: 10;
  margin:0;
}

.b-top {
  height: 7px;
  width: 100%;
  padding: 1px;
}

.b-bottom {
  height: 7px;
  width: 100%;
  bottom: 0;
}

.b-left {
  height: 100vh;
  width: 7px;
  left: 0;
}

.b-right {
  height: 100vh;
  width: 7px;
  right: 0;
}


header {
  @include monoSp;

  .mainLogo {
    max-width: 42%;
    position: relative;
    left: -100px;
    top: -5px;
  }

  .menu {
    display: inline;
    position: relative;
    max-width: 50%;
    float: right;
    right: 5%;
    top: 60px;

    a {
    width: 130px;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    }

    a:hover {
      border: 1px solid #DCB3A5;
      color: white;
      background: #DCB3A5;
    }
  }
}

.menu:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* =============================================================================
            Portfolio Body
   ========================================================================== */
.aboutMe {
  img {
    width: 100%;
  }
}

.home {
  blockquote {
    text-align: left;
    float: right;
    width: 65%;
    font-size: 1.4rem;
    border: 2px solid black;
  }

  .portfolioPieces {
    width: 100%;

    .featuredPost {
      margin-top: 100px;
      width: 100%;
      display: inline-block;
      @include monoSp;
      text-align: left;
      height: 100vh;

      .ft-img {
        width: 59%;
        float: left;
        padding-right: 1%;
        height: 75vh;
        overflow: hidden;
        border-right: 1px solid black;
        // opacity: 0.5;
        -webkit-filter: grayscale(1);
      }

      .ft-img:hover {
        -webkit-filter: grayscale(0);
      }

      .rightInfo {
        height: 100%;
        width: 40%;
        float: left;
        padding: 20px;
        padding-top: 0;

        .tags {

          a {
          padding: 10px;
          border: 1px solid black;
          margin-right: 20px;
          margin-bottom: 10px;
          display: inline-block;
          }

          a:hover {
            color: black;
          }
        } //end tags

        .linkToLive p {
          @include monoSp;
          font-size: 24px;
          line-height: 0rem;
        }

      h2 {
        text-decoration: underline;
        }
      }
    } // end rightInfo
  } // end portfolio pieces
}  

/* =============================================================================
                Contact Form Styles
   ========================================================================== */
.contactForm {
    // padding-top: 300px;
    @include monoSp;
    text-transform: uppercase;

    h3 {
      transform: rotate(-12deg);
      text-align: left;
      font-size: 30px;
      position: relative;
      left: 100px;
      display: inline-block;
    }
}

.wpcf7 {
  position: relative;
}

#contact:nth-child(3) {
  left: -100px;
  top: 460px;
}

.wpcf7-form {
  float: left;
  text-align: left;
  

  p {
      @include monoSp;
  }

  .wpcf7-form-control {
    outline: 1px solid black;
    padding: 10px;
    background: none;
  }
}

.your-subject {
  display: none;
}

.wpcf7-submit {
  float: left;
  width: 130px;
  text-transform: uppercase;
}

.wp-image-72 {
  width: 75%;
  float: right;
  position: relative;
  overflow: hidden;
  top: -100px;
  z-index: -5;
  opacity: 0.5;
  background: #DCB3A5;

}


/* =============================================================================
                Blog Styles
   ========================================================================== */

.blog {
  padding: 1px;

  .content {
    display: block;
    margin: 0 auto; 
  }
}

.blog-entry {
  margin-top: 100px;
  width: 100%;
  display: inline-block;
  @include monoSp;
  text-align: left;
  height: 100vh;

  article {
    height: 100%;
    width: 40%;
    float: left;
    padding: 20px;
    padding-top: 0;
    overflow: hidden;
  }

  .blog-image {
    width: 59%;
    float: left;
    padding-right: 1%;
    height: 75vh;
    overflow: hidden;
    border-right: 1px solid black;
    -webkit-filter: grayscale(1);
  }
}

.single .container-with-background {
  text-align: left;
}

/* =============================================================================
                Footer Styles
   ========================================================================== */

footer {
  clear:both;

  .container-footer {
    display: inline-block;
  
    .footer-logo {
      width: 26%;
      display: inline-block;
    }

    .bottom-nav {
      display: inline-block;
      float: left;
      text-align: left;

      ul {
        padding-left: 0px; 
        font-size: 35px;
        padding: 15px;
        float: right;
        position: relative;
        left: 100%;

        a {
          padding: 15px;
        }       
      }
    }


    p {
      margin-bottom: 0px;
    }
  }

  .mailList {
    display: inline-block;
  }
}

@import "normalize";
@import "comments";
@import "defaults";
@import "mediaQueries";