@import "normalize";
@import "comments";
@import "defaults";

@mixin monoSp {
  font-family: 'Inconsolata', courier, monospace;
}

@mixin bigP {
  font-family: 'Chivo', sans-serif;
  font-size: 1.8rem;
}

/* =============================================================================
                   Header
   ========================================================================== */
.border {
  position: fixed;
  background: #DCB3A5;
  z-index: 10;
  margin:0;
}

.b-top {
  height: 7px;
  width: 100%;
}

.b-bottom {
  height: 7px;
  width: 100%;
  bottom: 0;
}

.b-left {
  height: 100vh;
  width: 7px;
  left: 0;
}

.b-right {
  height: 100vh;
  width: 7px;
  right: 0;
}


header {
  // background: thistle;
  @include monoSp;

  .mainLogo {
    max-width: 42%;
    position: relative;
    left: -80px;
    top: -5px;
  }

  ul {
    margin: 70px 20px;
    padding: 0;
    display: inline-block;
    float: right;

    li {
      display:inline-block;
      margin-right: 10px;
      width: 130px;
      color: black;
      padding:15px;
      border: 2px solid black;
      
      a:focus {
        color: white;
        width: 100%;
      }
    }
      
    li:hover {
      background: #DCB3A5;
      border: 1px solid #DCB3A5;
      color: white;
    }
  }
}

.menu:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* =============================================================================
            Portfolio Body
   ========================================================================== */

.home {
  blockquote {
    text-align: justify;
    float: right;
    width: 65%;
  }

  .wp-image-72 {
    width: 75%;
    float: right;
  }
}  

/* =============================================================================
                   Sidebar
   ========================================================================== */
// .sidebar {
//   width:30%;
//   float:left;
// }
//   .sidebar ul {
//     margin:0;
//     padding:0;
//   }
//     .sidebar ul li {
//       list-style: none;
//     }

/* =============================================================================
                   Footer
   ========================================================================== */

footer {
  clear:both;

  p {
    margin-bottom: 0px;
  }
}


/* =============================================================================
                Blog Styles
   ========================================================================== */

.blog {
  background: #FFFBDE;
  padding: 1px;

  .content {
    display: block;
    margin: 0 auto; 
  }
}