@import "animate";

@mixin monoSp {
  font-family: 'Inconsolata', courier, monospace;
}

@mixin bigP {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
}

@mixin featuredPage {
      margin-top: 100px;
      width: 100%;
      display: inline-block;
      @include monoSp;
      text-align: left;
      height: 100vh;
}

@mixin featuredImg {
  width: 59%;
  float: left;
  padding-right: 1%;
  height: 75vh;
  overflow: hidden;
}

/* =============================================================================
                   Header
   ========================================================================== */
.preload * {
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -ms-transition: none !important;
     -o-transition: none !important;
   }

.border {
  position: fixed;
  background: #DCB3A5;
  z-index: 10;
  margin:0;
}

.b-top {
  height: 7px;
  width: 100%;
  padding: 1px;
}

.b-bottom {
  height: 7px;
  width: 100%;
  bottom: 0;
}

.b-left {
  height: 100vh;
  width: 7px;
  left: 0;
}

.b-right {
  height: 100vh;
  width: 7px;
  right: 0;
}

@-webkit-keyframes name {
  0%   { top: -116px; left: 53%; }
  100% { top: 20px; left: 14%; }
}
@keyframes name {
    0%   { top: -116px; left: 53%px; }
    100% { top: 20px; left: 14%; }
  }

@-webkit-keyframes title {
  0%   { top: 144px; left: -104%; }
  100% { top: 115px; left: 3%; }
}
@keyframes title {
    0%   { top: 144px; left: -104%; }
    100% { top: 115px; left: 3%; }
  }

header {
  @include monoSp;

  .main-animater {
    position: relative;
    height: 30vh;
  }


  .logo1 {
    -webkit-animation: name 1s linear;
    animation: name 1s linear;
    top: 20px;
    left: 14%;
  }

  .logo2 {
    -webkit-animation: title 1s linear;
    animation: title 1s linear;
    top: 78px;
    left: 3%;
  }

  .mainLogo {
    max-width: 42%;
    position: absolute;
  }

  .menu {
    display: inline;
    position: relative;
    max-width: 50%;
    float: right;
    right: 5%;
    top: 60px;

    a {
    width: 130px;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    }

    a:hover {
      border: 1px solid #DCB3A5;
      color: white;
      background: #DCB3A5;
    }
  }
}

.menu:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* =============================================================================
            Portfolio Body
   ========================================================================== */


.aboutMe {

  p.downArrow {
    display: inline-block;
    margin-top: 20vh;
    font-size: 3rem;
  }

  img {
    width: 100%;
  }
}

p.builtWith {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 1rem;
}

.home {
  blockquote {
    text-align: left;
    float: right;
    width: 80%;
    font-size: 1.4rem;
    border: 2px solid black;
    padding: 35px;
    font-weight: 300;
  }

  .portfolioPieces {
    width: 100%;

    .featuredPost {
      //if edit this; edit .blog-entry
      @include featuredPage;

      .ft-img {
        // if edit this: edit .blog-image
        @include featuredImg;

        .wp-post-image {
          width:100%;
          box-shadow: 0 0 3px 3px rgba(100,100,108,0.1);
        }
      }

      .rightInfo {
        width: 40%;
        float: left;
        padding: 20px;
        padding-top: 0;
        font-size: 1.2rem;

        h2 {
          margin-top: 1px;
          text-decoration: underline;
        }

        .tags {
          padding-top: 0px;
          margin-top: 0px;
        

          a {
          font-size: 1rem;
          padding: 3px;
          border-bottom: 2px solid RGBA(220, 179, 165, 1);
          display: inline-block;
          }

          a:hover {
            color: black;
          }
        } //end tags

        .linkToLive p{
          @include monoSp;
          font-size: 1.6rem;
          line-height: 0rem;
          border-bottom: none;
        }
      }
    } // end rightInfo
  } // end portfolio pieces
}

/* =============================================================================
     Contact Form Styles
   ========================================================================== */
.contactForm {
    // padding-top: 300px;
    @include monoSp;
    text-transform: uppercase;

    h3 {
      transform: rotate(-12deg);
      text-align: left;
      font-size: 30px;
      position: relative;
      left: 100px;
      display: inline-block;

    }

    h3:hover {
      animation: pulse 4s linear infinite;
      -webkit-animation: pulse 4s linear infinite;
    }
}

.wpcf7 {
  position: relative;
}

#contact:nth-child(3) {
  left: -100px;
  top: 460px;
}

.wpcf7-form {
  float: left;
  text-align: left;
  

  p {
      @include monoSp;
  }

  .wpcf7-form-control {
    outline: 1px solid black;
    padding: 10px;
    background: none;
  }
}

.your-subject {
  display: none;
}

.wpcf7-submit {
  float: left;
  width: 130px;
  text-transform: uppercase;
}

.wp-image-72 {
  width: 75%;
  float: right;
  position: relative;
  overflow: hidden;
  top: -100px;
  z-index: -5;
  opacity: 0.5;
  background: #DCB3A5;

}


/* =============================================================================
                Blog Styles
   ========================================================================== */
.single {
  .menu {
    a {
      text-align: center;
    }
  }
}

.blog {
  padding: 1px;

  .content {
    display: block;
    margin: 0 auto; 
  }
}

.blog-entry {
  //if edit this; edit .featuredPost
  @include featuredPage;

  article {
    width: 40%;
    float: left;
    padding: 20px;
    padding-top: 0;
    font-size: 1.2rem;

    h2 {
      margin-top: 1px;
      text-decoration: underline;
    }
  }

  .blog-image {
    // if edit this: edit .ft-img
    @include featuredImg;

    img {
      width:100%;
      box-shadow: 0 0 3px 3px rgba(100,100,108,0.1);
    }
  }

  .blog-image:hover {
    -webkit-filter: grayscale(0);
  }
}

.single .container-with-background {
  text-align: left;
}

/* =============================================================================
                Footer Styles
   ========================================================================== */

footer {
  clear:both;
  background: RGBA(236, 237, 241, 0.65);
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 3px 3px rgba(100,100,108,0.1);

  .container-footer {
    display: inline-block;
  
    .footer-logo {
      width: 60%;
      display: inline-block;
      float:left;

      .footLogo {
        width: 50%;
      }

      .foot-logo1 {
        float: left;
      }

      .foot-logo2 {
        float: right;
      }
    }// end .footer-logo

    .bottom-nav {
      display: inline-block;
      float: left;
      text-align: left;
      width: 25%;
      transform: translateY(-50%);

      ul {
        font-size: 35px;
        padding: 15px;
        padding-left: 0px; 
        float: left;
        position: relative;
        margin: 0 auto;
        transform: translateY(50%);


        a {
          padding: 15px;
        }       
      }
    } // end .bottom-nav

    .upArrow {
      font-size: 3rem;
      display: inline-block;
      margin: 0 auto;
      width: 5%;
      padding-bottom: 7px;
    }
  } // end footer container

  .mailList {
    display: inline-block;
  }
} // end Footer

@import "normalize";
@import "comments";
@import "defaults";
@import "mediaQueries";